<a href="https://colab.research.google.com/github/Pragna235/Regression-Models/blob/main/Linear_Regression_using_ScikitLearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#plt.rcParams['figure.figsize'] = (20.0,10.0)

#Reading Data
data=pd.read_csv('https://www.statlearning.com/s/Advertising.csv')
print(data.shape)
data.head()

(200, 5)

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [20]:
#Collecting X and Y
X = data['TV'].values
Y = data['sales'].values
m=len(X)
#print(X)
#print(Y)

In [21]:
max_x = np.max(X) + 100
min_x = np.min(X) - 100

#Calculating Live Vaues x and y
x = np.linspace(min_x,max_x,1000)

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

#Cannot use Rank 1 matrix in scikit learn
X = X.reshape((m,1))
#Creating Model
reg = LinearRegression()
#Fitting training data
reg = reg.fit(X,Y)
Y_pred = reg.predict(X)

#Calculating R2 score
r2_score = reg.score(X,Y)

print(r2_score)

0.611875050850071